<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="main__container">
        <h1><%= title %></h1>
        <ul>
            <li>
                <a href="/obj-loader">
                    <h4>OBJ Loader</h4>
                </a>
            </li>
            <li>
                <a href="/gltf-loader">
                    <h4>GLTF Loader</h4>
                </a>
            </li>
            <li>
                etc.
            </li>
        </ul>
    </div>

    <script src="/static/js/main.js"></script>
</body>
</html>