<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>jcloud three</title>
</head>
<body>
    <div class="main__container">
        <h3>click</h3>
        <h3>click</h3>
        <h3>click</h3>
        <h3>click</h3>
        <h3>click</h3>
    </div>

    <script src="/static/main.js"></script>
</body>
</html>