<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <link type="text/css" rel="stylesheet" href="/static/css/loader.css">
    <title><%= title %></title>
</head>
<body>
    <div class="main__container">
        <h1><%= title %></h1>
        <div id="glFullscreen">
           <canvas id="webglFace"></canvas>
        </div>
    </div>

    <script type="module" src="/static/js/objLoader.js"></script>
</body>
</html>